p1{
    font-size: 20px; 
    line-height: 30px; 
  text-align: center;
    padding: 10px;
    margin: 10px; 
}


.container-fluid {
    background-image: url('image.jpg'); /* Path to your image */
    background-color: red; /* Background color */
    background-blend-mode: screen; /* Blend mode */
}

