p1{
    font-size: 20px; 
    line-height: 30px; 
  text-align: center;
    padding: 10px;
    margin: 10px; 
}


.container-fluid {
    background-image: url(https://www.pexels.com/photo/stall-of-fresh-produce-vegetables-on-a-market-8827356/); /* Path to your image */
    background-color: #FFFFFF; /* Background color */
    background-blend-mode: screen; /* Blend mode */
}

